# Virtual Environments
venv/
.venv/
env/
ENV/

# Python Cache & Compiled Files
__pycache__/
*.py[cod]
*$py.class
*.dylib
*.so
*.dll

# Datasets & Large Media
my_dataset/
*.wav
*.mp4
*.avi
*.jpg
*.png
*.zip

# Machine Learning Models & Weights
*.pt
*.onnx
*.h5
*.tflite
